@font-face {
    font-family: 'Cursed Timer';
    src: url(./fonts/CursedTimerULiL.ttf);
}

body {
    margin: 0;
    background: #f4a261;
    font-family: 'Roboto', sans-serif;

}

.main-heading {
    font-family: 'Cursed Timer';
    color: white;
    display: block;
    margin: 250px auto;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Cursed Timer';
    color: white;
    background-color: #e76f51;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    font-size: 44px;
    border-radius: 10px;

}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;

}


button {
    border: solid 2px;
    padding: 10px;
    background: transparent;
    color: white;
    border-radius: 5px;
    font-family: 'Cursed Timer';

}

